<template>
  <v-app>
    <v-content>
      <nuxt />
    </v-content>
    <v-footer class="d-flex flex-row justify-space-around py-3" color="rgba(60,72,89,1)">
      <section
        v-if="$breakpoint.is.smAndDown"
        :style="{'width':'50%'}"
        class="d-flex flex-column"
      >
        <nuxt-link class="text--color-contrast-light mx-auto py-2" target="_blank" rel="nofollow" title="Aviso Legal" to="/aviso-legal">
          Aviso Legal
        </nuxt-link>
        <nuxt-link class="text--color-contrast-light mx-auto py-2" target="_blank" rel="nofollow" title="Política de Cookies" to="/politica-de-cookies">
          Política de cookies
        </nuxt-link>
      </section>
      <section
        v-if="$breakpoint.is.smAndDown"
        :style="{'width':'50%'}"
        class="d-flex flex-column"
      >
        <a class="text--color-contrast-light mx-auto py-2" target="_blank" rel="nofollow" title="Mapa del Sitio" href="/sitemap.xml">
          Mapa del sitio
        </a>
        <nuxt-link class="text--color-contrast-light mx-auto py-2" target="_blank" rel="nofollow" title="Contacto" to="/contacto">
          Contacto
        </nuxt-link>
      </section>
      <section
        v-if="$breakpoint.is.mdAndUp"
        :style="{'width':'100%'}"
        class="d-flex flex-row justify-space-between"
      >
        <nuxt-link class="text--color-contrast-light mx-auto" target="_blank" rel="nofollow" title="Aviso Legal" to="/aviso-legal">
          Aviso Legal
        </nuxt-link>
        <nuxt-link class="text--color-contrast-light mx-auto" target="_blank" rel="nofollow" title="Política de Cookies" to="/politica-de-cookies">
          Política de cookies
        </nuxt-link>
        <a class="text--color-contrast-light mx-auto" target="_blank" rel="nofollow" title="Mapa del Sitio" href="/sitemap.xml">
          Mapa del sitio
        </a>
        <nuxt-link class="text--color-contrast-light mx-auto" target="_blank" rel="nofollow" title="Contacto" to="/contacto">
          Contacto
        </nuxt-link>
      </section>
    </v-footer>
  </v-app>
</template>

<script>
export default {
}
</script>
<style>
.text--color-contrast-light{
  color: rgba(255,243,232,0.4) !important;
  caret-color: rgba(255,243,232,0.4) !important;
}
a:-webkit-any-link {
  text-decoration:none !important;
  color: #93948a;

}
</style>
