<template>
  <v-app light>
    <v-content>
      <v-container>
        <v-row dense align="center" justify="center">
          <v-col cols="12">
            <LogoTexto :nicho="home.nombre" />
          </v-col>
          <v-col cols="12" class="text-center align-center my-12">
            <h1 v-if="error.statusCode === 404" class="text--color display-1 font-weight-regular">
              {{ pageNotFound }}
            </h1>
            <h1 v-else class="text--color">
              {{ otherError }}
            </h1>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <v-footer class="d-flex flex-row justify-space-around py-3" color="rgba(60,72,89,1)">
      <section
        v-if="$breakpoint.is.smAndDown"
        :style="{'width':'50%'}"
        class="d-flex flex-column"
      >
        <nuxt-link class="text--color-contrast-light mx-auto py-2" target="_blank" rel="nofollow" title="Aviso Legal" to="/aviso-legal">
          Aviso Legal
        </nuxt-link>
        <nuxt-link class="text--color-contrast-light mx-auto py-2" target="_blank" rel="nofollow" title="Política de Cookies" to="/politica-de-cookies">
          Política de cookies
        </nuxt-link>
      </section>
      <section
        v-if="$breakpoint.is.smAndDown"
        :style="{'width':'50%'}"
        class="d-flex flex-column"
      >
        <a class="text--color-contrast-light mx-auto py-2" target="_blank" rel="nofollow" title="Mapa del Sitio" href="/sitemap.xml">
          Mapa del sitio
        </a>
        <nuxt-link class="text--color-contrast-light mx-auto py-2" target="_blank" rel="nofollow" title="Contacto" to="/contacto">
          Contacto
        </nuxt-link>
      </section>
      <section
        v-if="$breakpoint.is.mdAndUp"
        :style="{'width':'100%'}"
        class="d-flex flex-row justify-space-between"
      >
        <nuxt-link class="text--color-contrast-light mx-auto" target="_blank" rel="nofollow" title="Aviso Legal" to="/aviso-legal">
          Aviso Legal
        </nuxt-link>
        <nuxt-link class="text--color-contrast-light mx-auto" target="_blank" rel="nofollow" title="Política de Cookies" to="/politica-de-cookies">
          Política de cookies
        </nuxt-link>
        <a class="text--color-contrast-light mx-auto" target="_blank" rel="nofollow" title="Mapa del Sitio" href="/sitemap.xml">
          Mapa del sitio
        </a>
        <nuxt-link class="text--color-contrast-light mx-auto" target="_blank" rel="nofollow" title="Contacto" to="/contacto">
          Contacto
        </nuxt-link>
      </section>
    </v-footer>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import LogoTexto from '@/components/LogoTexto.vue'

export default {
  components: {
    LogoTexto
  },
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  },
  data () {
    return {
      pageNotFound: 'Ups parece que está página no existe...',
      otherError: 'Ha ocurrido un error inesperado...'
    }
  },
  computed: {
    ...mapGetters([
      'home'
    ])
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
