<template>
  <v-lazy>
    <v-card
      :loading="loading"
      :style="{'border-radius': 20+'px !important'}"
      v-ripple="false"
      :href="producto.enlace"
      class="mx-auto my-2"
      color="rgba(248,240,221,1)"
      elevation="10"
      target="_blank"
      rel="nofollow noindex"
    >
      <v-img
        :src="image_path + producto.imagen"
        height="250"
      />
      <div :style="{'width':'100%'}" class="d-flex justify-space-between align-center">
        <v-card-title
          :style="{'width':'75%'}"
          v-text="producto.nombre"
          class="d-inline-block py-0 text--color subtitle-2 text-truncate"
        />
        <v-chip
          v-show="producto.caracteristica"
          color="rgba(60,72,89,1)"
          class="ma-2 text--color-contrast font-weight-bold caption"
        >
          {{ producto.caracteristica }}
        </v-chip>
      </div>

      <v-card-text class="py-0">
        <v-row
          align="center"
          class="mx-0"
        >
          <v-rating
            :value="producto.estrellas"
            :empty-icon="emptyStar"
            :full-icon="fullStar"
            :half-icon="halfStar"
            color="amber"
            dense
            half-increments
            readonly
            size="23"
            class="mb-1 ml-n1"
          />

          <div class="text--color-rgba ml-4">
            {{ producto.estrellas + ' (' + producto.valoraciones + ')' }}
          </div>
        </v-row>
        <span class="mt-1  mb-2 title text--color font-weight-bold">
          {{ producto.precio ? producto.precio + ' €' : '' }}
        </span>
        <span class="mt-1  mb-2 subtitle-2 text--color-rgba font-weight-medium">
          <strike> {{ producto.precio_anterior ? producto.precio_anterior + ' €' : '' }} </strike>
        </span>

        <div
          v-text="producto.description.length > 120 ? producto.description.substring(0,120) + '...' : producto.description"
          class="text--color"
        />
      </v-card-text>

      <v-card-actions class="px-0 pb-0">
        <v-btn
          :style="{'border-bottom-left-radius': 20+'px !important',
                   'border-bottom-right-radius': 20+'px !important'}"
          @click="reserve"
          height="45px"
          class="noActionBtn text--color-contrast font-weight-bold"
          color="rgba(60,72,89,1)"
          block
          tile
        >
          <v-row>
            <v-col cols="3" align="center">
              <v-icon left size="23" color="rgba(248,240,221,1)">
                {{ producto.afiliado.nombre == 'Amazon' ? amazon : '' }}
              </v-icon>
            </v-col>
            <v-col :style="{'position':'absolute'}" align="center" class="ml-3 subtitle-2" cols="12">
              Ver en {{ producto.afiliado.nombre }}
            </v-col>
          </v-row>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-lazy>
</template>

<script>
import { mdiStar, mdiStarHalf, mdiStarOutline, mdiAmazon } from '@mdi/js'

export default {
  props: {
    producto: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data: () => ({
    loading: false,
    image_path: process.env.image_path,
    fullStar: mdiStar,
    halfStar: mdiStarHalf,
    emptyStar: mdiStarOutline,
    amazon: mdiAmazon
  }),
  methods: {
    reserve () {
      this.loading = true

      setTimeout(() => (this.loading = false), 2000)
    }
  }
}
</script>

<style>


</style>
