<template>
  <v-container>
    <v-row dense align="center" justify="center">
      <v-col cols="12">
        <LogoTexto :nicho="home.nombre" />
        <CarouselAfiliados :afiliados="home.afiliados" />
      </v-col>
      <v-col cols="12">
        <h1
          class="full-width text--color font--weight--black text-center py-3 mt-n1"
        >
          {{ categoria.main_title }}
        </h1>
        <IndiceCategoria :subcontenidos="categoria.textos_seo" />
        <div class="text-justify text--color mt-7 mx-2">
          {{ home.categorias.filter(c => c.slug === $route.params.categoria_pilar)[0].main_text }}
        </div>
      </v-col>
      <v-col sm="6" cols="12">
        <v-select
          v-model="selectedOrder"
          :items="itemsOrder"
          :append-icon="menuDown"
          item-color="rgba(60,72,89,1)"
          class="font-weight-bold text--color subtitle-1"
          color="rgba(60,72,89, 1)"
          light
          outlined
          dense
          hide-details
          single-line
          label="ORDENAR POR"
        >
          <template v-slot:item="{ item }">
            <span class="text--color font-weight-regular">
              {{ item }}
            </span>
          </template>
          <template v-slot:selection="{ item }">
            <span
              class="text--color-rgba subtitle-1 font-weight-bold"
            >{{ item }}
            </span>
          </template>
          <v-select />
        </v-select>
      </v-col>

      <v-col sm="6" cols="12">
        <v-select
          v-model="selectedFilter"
          :items="itemsFilter"
          :append-icon="menuDown"
          item-color="rgba(60,72,89,1)"
          class="font-weight-bold text--color-rgba subtitle-1"
          color="rgba(60,72,89,1)"
          light
          outlined
          dense
          hide-details
          single-line
          chips
          multiple
        >
          <template v-slot:label>
            <span class="text--color-rgba font-weight-bold">
              FILTRAR POR
            </span>
          </template>
          <template v-slot:selection="{ item, index }">
            <v-chip v-if="index === 0" color="rgba(60,72,89,1)" class="ml-n1">
              <span class="text--color-contrast subtitle-1 font-weight-bold">{{ item }}</span>
            </v-chip>
            <span
              v-if="index === 1"
              class="text--color-rgba caption font-weight-bold"
            >(+{{ selectedFilter.length - 1 }} {{ selectedFilter.length > 2 ? 'FILTROS' :'FILTRO' }})
            </span>
          </template>
          <template v-slot:item="{ item }">
            <v-icon color="rgba(60,72,89,1)" class="mr-2">
              {{ selectedFilter.indexOf(item) >=0 ? checkboxMarked : checkboxBlankOutline }}
            </v-icon>
            <span class="text--color font-weight-regular">
              {{ item }}
            </span>
          </template>
          <template v-slot:prepend-item>
            <v-list-item
              @click="toggle"
              ripple
            >
              <v-list-item-action>
                <v-icon :color="selectedFilter.length > 0 ? 'rgba(60,72,89,1)' : ''">
                  {{ icon }}
                </v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title class="subtitle-1 text--color font-weight-bold">
                  {{ todosLosFiltros ? 'ELIMINAR FILTROS' : 'MARCAR TODO' }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider class="mt-2" />
          </template>
        </v-select>
      </v-col>
      <v-col cols="12" class="text-center">
        <span class="text-center font-weight-bold text--color">
          {{ productos.filter(s => selectedFilter.indexOf(s.caracteristica)>=0).length }}
          {{ productos.filter(s => selectedFilter.indexOf(s.caracteristica)>=0).length == 1 ? ' artículo' : ' artículos' }}
        </span>
      </v-col>
      <v-col
        v-for="producto in productos.filter(s => selectedFilter.indexOf(s.caracteristica)>=0)"
        :key="producto.slug"
        class="py-0 my-0 px-2"
        xs="12"
        sm="6"
        md="4"
        lg="4"
        xl="3"
      >
        <ProductCard :producto="producto" />
      </v-col>

      <v-col
        v-for="subcontenido in categoria.textos_seo"
        :key="subcontenido.slug"
        cols="12"
      >
        <TextoSeo :id="subcontenido.slug" :subcontenido="subcontenido" />
      </v-col>
      <v-col cols="12">
        <h3
          class="recomended-banner text--color-contrast title text-center py-3 mt-n1"
        >
          {{ home.categorias.filter
            (c => c.slug != $route.params.categoria_pilar & c.volumen > categoria.volumen)
            .sort(
              function(first, second) {return second.volumen - first.volumen;}
            ).length ? 'Tal vez te interesen las' + home.nombre.toLowerCase() + '...' : 'Explora otras categorías...'
          }}
        </h3>
      </v-col>
      <v-col
        v-for="item in home.categorias.filter
          (c => c.slug != $route.params.categoria_pilar & c.volumen > categoria.volumen)
          .sort(
            function(first, second) {return second.volumen - first.volumen;}
          ).slice(-4)"
        :key="item.slug"
        xs="12"
        sm="6"
        md="6"
        lg="3"
        xl="3"
      >
        <RecomendedCard :item="item" />
      </v-col>
      <v-col
        v-show="home.categorias.filter
          (c => c.slug != $route.params.categoria_pilar & c.volumen > categoria.volumen)
          .sort(
            function(first, second) {return second.volumen - first.volumen;}
          ).length==0"
        cols="12"
      >
        <RecomendedCard :item="{ 'color':'f8f0dd', 'imagen': '/media/nicho-composicion.png'}" />
      </v-col>
      <Rating :estrellas="home.estrellas" :valoraciones="home.valoraciones" :cookieName="nicho" />
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import { mdiMenuDown, mdiPlusBox, mdiCloseBox, mdiCheckboxBlankOutline, mdiCheckboxMarked } from '@mdi/js'
// import axios from 'axios'
import TextoSeo from '@/components/TextoSeo.vue'
import LogoTexto from '@/components/LogoTexto.vue'
import IndiceCategoria from '@/components/IndiceCategoria.vue'
import CarouselAfiliados from '@/components/CarouselAfiliados.vue'
import ProductCard from '@/components/Products/ProductCard.vue'
import RecomendedCard from '@/components/RecomendedCard.vue'
import Rating from '@/components/Rating/Home.vue'

export default {
  components: {
    TextoSeo,
    LogoTexto,
    IndiceCategoria,
    CarouselAfiliados,
    ProductCard,
    RecomendedCard,
    Rating
  },
  data () {
    return {
      categoria: { 'main_title': ' ', 'textos_seo': [], 'volumen': 0, 'meta_title': '', 'meta_description': '' },
      productos: [],
      nicho: process.env.nicho_json,
      selectedOrder: 'RECOMENDADO',
      itemsOrder: ['RECOMENDADO', 'PRECIO (DE MAYOR A MENOR)', 'PRECIO (DE MENOR A MAYOR)'],
      menuDown: mdiMenuDown,
      checkboxBlankOutline: mdiCheckboxBlankOutline,
      checkboxMarked: mdiCheckboxMarked
    }
  },
  validate ({ params, store }) {
    return store.getters.home.categorias.find(category => category.slug === params.categoria_pilar) !== undefined
  },
  computed: {
    ...mapGetters([
      'home'
    ]),
    todosLosFiltros () {
      return this.selectedFilter.length === this.itemsFilter.length
    },
    algunFiltro () {
      return this.selectedFilter.length > 0 && !this.todosLosFiltros
    },
    icon () {
      if (this.todosLosFiltros) { return mdiCloseBox }
      if (this.algunFiltro) { return mdiPlusBox }
      return mdiCheckboxBlankOutline
    }
  },
  watch: {
    // whenever question changes, this function will run
    selectedOrder (newSelection, oldSelection) {
      if (newSelection === 'PRECIO (DE MAYOR A MENOR)') {
        this.productos = this.productos.sort(function (first, second) {
          return second.precio - first.precio
        })
      } else if (newSelection === 'PRECIO (DE MENOR A MAYOR)') {
        this.productos = this.productos.sort(function (first, second) {
          return first.precio - second.precio
        })
      }
    }
  },
  async asyncData ({ $axios, params }) {
    // eslint-disable-next-line no-return-await
    const categoriaGet = await $axios.$get(`/api/categorias/${params.categoria_pilar}/`)

    const productosGet = await $axios.$get(`/api/productos/${params.categoria_pilar}/`)

    return {
      categoria: categoriaGet[0],
      productos: productosGet,
      selectedFilter: productosGet.map(item => item.caracteristica).filter((value, index, self) => self.indexOf(value) === index),
      itemsFilter: productosGet.map(item => item.caracteristica).filter((value, index, self) => self.indexOf(value) === index)
    }
  },
  methods: {
    toggle () {
      this.$nextTick(() => {
        if (this.todosLosFiltros) {
          this.selectedFilter = []
        } else {
          this.selectedFilter = this.itemsFilter.slice()
        }
      })
    }
  },
  jsonld () {
    if (!this.categoria) {
      return null
    }
    return {
      '@context': 'http://schema.org',
      '@type': 'Organization',
      'url': process.env.dominio_json + '/',
      'name': process.env.dominio_json.slice(8),
      'logo': process.env.dominio_json + '/icon.png',
      'description': this.$store.getters.home.meta_description,
      'aggregateRating': {
        '@type': 'AggregateRating',
        'ratingValue': this.$store.getters.home.estrellas,
        'bestRating': '5',
        'ratingCount': this.$store.getters.home.valoraciones
      }
    }
  },
  head () {
    return {
      title: this.categoria.meta_title,
      meta: [
        { hid: 'description', name: 'description', content: this.categoria.meta_description }
      ],
      link: [
        { rel: 'canonical', href: process.env.DOMINIO + '/' + this.$route.params.categoria_pilar + '/' }
      ]
    }
  }
}
</script>

<style>
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color:rgba(248,240,221,1);
}
.recomended-banner{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color:rgba(60,72,89,1);
}
.text--color{
  color: #3c4859 !important;
  caret-color: #3c4859 !important;
}
.text--color-rgba{
  color: rgba(60,72,89,0.8) !important;
  caret-color: rgba(60,72,89,0.8) !important;
}
.text--color-contrast{
  color: #FFF3E8 !important;
  caret-color: #FFF3E8 !important;
}
.text--color-contrast-light{
  color: rgba(255,243,232,0.4) !important;
  caret-color: rgba(255,243,232,0.4) !important;
}
.v-slide-group__prev {
  display: none !important;
}
.cool-underline{
  position: relative;
}
.cool-underline::before{
  content: ' ';
  position: absolute;
  width: 7em;
  background: rgba(0, 191, 255, 0.3);
  height: .5em;
  top: 1.2rem;
}
.v-btn.noActionBtn::before{
  background: transparent !important;
}
</style>
