<template>
  <v-tabs
    background-color="transparent"
    centered
    class="px-0 mx-0"
    grow
    optional
    height="50px"
  >
    <v-tab
      v-for="(afiliado, i) in afiliados"
      :key="i"
      class="noActionBtn"
    >
      <v-lazy>
        <v-img
          :max-width="afiliado.width"
          :src="image_path + afiliado.imagen"
          :alt="afiliado.alt_imagen"
          contain
        />
      </v-lazy>
    </v-tab>
  </v-tabs>
</template>

<script>

export default {
  props: {
    afiliados: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      image_path: process.env.image_path
    }
  }
}
</script>

<style>

</style>
