<template>
  <v-card
    :color="'#'+item.color"
    :style="{'border-radius': 20+'px'}"
    :class="$breakpoint.is.xsOnly ?'my-3 mx-1 d-flex flex-column-reverse justify-space-between align-center':
      'my-3 mx-1 d-flex justify-space-between'"
    :height="$breakpoint.is.xsOnly ?'370px':'250px'"
    :title="item.home_title"
    :to="'/'+item.slug+'/'"
    dark
    nuxt
  >
    <div :style="{'width': 100+'%'}" class="d-flex flex-column justify-space-between">
      <section>
        <v-card-title>
          <h3
            :style="{'white-space':'no-wrap','word-break':'keep-all'}"
            class="display-1 font-weight-bold text--color"
          >
            {{ item.home_title }}
          </h3>
        </v-card-title>
        <v-card-subtitle
          v-text="$breakpoint.is.xsOnly ?
            item.main_text.length > 75 ? item.main_text.substring(0,75) + '...' : item.main_text
            :item.main_text.length > 220 ? item.main_text.substring(0,220) + '...' : item.main_text"
          class="font-weight-medium text--color justify-text"
        />
      </section>

      <v-card-actions :class="$breakpoint.is.xsOnly ? 'mx-n2 mb-n3' : ''">
        <v-btn
          :block="$breakpoint.is.xsOnly"
          :text="!$breakpoint.is.xsOnly"
          :class="$breakpoint.is.xsOnly ? 'font-weight-bold noActionBtn':'text--color-rgba font-weight-bold noActionBtn'"
          :style="$breakpoint.is.xsOnly ? {'border-bottom-left-radius': 20+'px !important','border-bottom-right-radius': 20+'px !important'}:
            {'border-radius': 20+'px !important'}"
          color="#3c4859"
          tile
        >
          Ver Productos
          <v-icon
            :class="$breakpoint.is.xsOnly ? '':'text--color-rgba'"
            right
            size="24"
          >
            {{ arrowRightBold }}
          </v-icon>
        </v-btn>
      </v-card-actions>
    </div>
    <v-lazy :style="$breakpoint.is.xsOnly ? {'width':'100%'} : {}">
      <div>
        <v-img
          :style="$breakpoint.is.xsOnly ? {'border-top-left-radius':'20px', 'border-top-right-radius':'20px'} : {'border-radius': 20+'px'}"
          :class="$breakpoint.is.xsOnly ?'ma-0': 'ma-3'"
          :height="$breakpoint.is.xsOnly ? '200px' : '225px'"
          :width="$breakpoint.is.xsOnly ? '100%':'225px'"
          :src="image_path + item.imagen"
          :alt="item.alt_imagen"
        />
      </div>
    </v-lazy>
  </v-card>
</template>

<script>
import { mdiArrowRightBold } from '@mdi/js'
export default {
  props: {
    item: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      image_path: process.env.image_path,
      arrowRightBold: mdiArrowRightBold
    }
  }

}
</script>

<style>

</style>
