<template>
  <v-card
    :style="{'border-radius': 20+'px !important'}"
    color="rgba(60,72,89,0.9)"
    elevation="0"
    tile
    class="d-flex flex-column justify-center py-3"
  >
    <h1 v-if="heading1" class="text-center text--color-contrast display-1 font-weight-bold">
      {{ title }}
    </h1>
    <h2 v-if="!heading1" class="text-center text--color-contrast heading font-weight-bold">
      {{ title }}
    </h2>
    <div :class="$breakpoint.is.xsOnly ? 'px-4 py-2' : 'px-12 py-2'">
      <span
        v-html="text"
        :class="viewMore ? 'd-block text--color-contrast text-center':
          'd-block text--color-contrast text-center text-truncate'"
      />
    </div>
    <v-btn
      @click="viewMore = !viewMore"
      text
      class="text--color-contrast-light font-weight-black"
    >
      {{ viewMore ? 'Ver menos' : 'Ver más' }}
    </v-btn>
  </v-card>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default () {
        return ''
      }
    },
    text: {
      type: String,
      default () {
        return ''
      }
    },
    heading1: {
      type: Boolean,
      default () {
        return false
      }
    }
  },
  data () {
    return {
      viewMore: false
    }
  }
}
</script>

<style>

</style>
