<template>
  <v-card
    :style="{'border-bottom-left-radius': 20+'px !important', 'border-bottom-right-radius': 20+'px !important'}"
    color="rgba(60,72,89,0.9)"
    elevation="0"
    tile
    class="d-flex flex-column pt-5"
  >
    <div
      @click="mostrarIndice = !mostrarIndice"
      :style="{'width':'100%', 'cursor': 'pointer'}"
      :class="$breakpoint.is.xsOnly ? 'pl-5 pr-1 pb-5 d-flex flex-row justify-space-between align-center':
        'pl-8 pr-6 pb-5 d-flex flex-row justify-space-between align-center'"
    >
      <span
        :style="$breakpoint.is.xsOnly ? {'font-size': '0.9rem !important'}:''"
        class="d-block text--color-contrast font-weight-bold title"
      >
        Índice de Contenido
      </span>

      <v-btn
        :style="$breakpoint.is.xsOnly ? {'font-size': '0.8rem !important'}:''"
        text
        class="text--color-contrast-light font-weight-black noActionBtn"
      >
        {{ mostrarIndice ? 'Ocultar' : 'Mostrar' }}
        <v-icon
          :style="$breakpoint.is.xsOnly ? {'font-size': '1.2 rem !important'}:''"
          class="text--color-contrast-light"
          right
          size="22"
        >
          {{ mostrarIndice ? arrowUpBold : arrowDownBold }}
        </v-icon>
      </v-btn>
    </div>
    <v-list v-show="mostrarIndice" rounded color="transparent">
      <v-list-item-group color="transparent">
        <v-list-item
          v-for="subcontenido in subcontenidos"
          :key="subcontenido.slug"
          :to="'/' + $route.params.categoria_pilar + '/#' + subcontenido.slug"
          class="my-0"
          nuxt
        >
          <v-list-item-icon class="mr-2">
            <v-icon v-text="arrowRightBold" size="27" class="text--color-contrast" />
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title
              :class="$breakpoint.is.xsOnly ? 'text--color-contrast font-weight-regular subtitle-2':
                'text--color-contrast font-weight-regular title'"
            >
              <p :style="{'white-space':'normal'}" class="my-0">
                {{ subcontenido.title + '.' }}
              </p>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script>
import { mdiArrowRightBold, mdiArrowUpBold, mdiArrowDownBold } from '@mdi/js'

export default {
  props: {
    subcontenidos: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      mostrarIndice: false,
      arrowRightBold: mdiArrowRightBold,
      arrowUpBold: mdiArrowUpBold,
      arrowDownBold: mdiArrowDownBold
    }
  }
}
</script>

<style>

</style>
