<template>
  <v-btn
    v-ripple="false"
    :title="nicho"
    text
    block
    class="noActionBtn"
    to="/"
    nuxt
  >
    <span
      :style="$breakpoint.is.xsOnly ? {'font-size': '2rem !important'}:''"
      class="text-center text--color display-2 font-weight-black text--capitalize"
    >
      {{ nicho }}
    </span>
  </v-btn>
</template>

<script>
export default {
  props: {
    nicho: {
      type: String,
      default () {
        return ''
      }
    }
  }

}
</script>

<style>

</style>
