<template>
  <v-card
    :color="'#'+item.color"
    :style="{'border-radius': 20+'px'}"
    :class="'my-3 mx-1 d-flex flex-column justify-space-between align-center'"
    :to="item.slug ? '/'+item.slug+'/' : '/'"
    :title="item.slug ? item.home_title : home.nombre"
    dark
    nuxt
    elevation="18"
  >
    <div :style="{'width': 100+'%'}" class="d-flex flex-column">
      <v-card-title v-if="item.home_title">
        <h3
          :style="{'white-space':'no-wrap','word-break':'keep-all'}"
          class="display-1 font-weight-bold text--color"
        >
          {{ item.home_title }}
        </h3>
      </v-card-title>
      <v-lazy>
        <v-avatar
          :style="{'border-radius': 0+'px', 'width': 100+'%'}"
          class="mx-3 mx-auto my-0"
          size="225"
        >
          <v-img
            :src="image_path + item.imagen"
            :alt="item.alt_imagen"
            :class="item.slug ? '' : 'blackandwhite'"
          />
        </v-avatar>
      </v-lazy>

      <v-card-actions class="mx-n2 mb-n3 mt-0 pt-0">
        <v-btn
          :style="{'border-bottom-left-radius': 20+'px !important','border-bottom-right-radius': 20+'px !important'}"
          class="font-weight-bold noActionBtn"
          block
          color="#3c4859"
          tile
        >
          {{ item.slug ? 'Ver Productos' : 'Ver Categorias' }}
          <v-icon
            class="text--color-contrast"
            right
            size="24"
          >
            {{ arrowRightBold }}
          </v-icon>
        </v-btn>
      </v-card-actions>
    </div>
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
import { mdiArrowRightBold } from '@mdi/js'

export default {
  props: {
    item: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      image_path: process.env.image_path,
      arrowRightBold: mdiArrowRightBold
    }
  },
  computed: {
    ...mapGetters([
      'home'
    ])
  }
}
</script>

<style>
.blackandwhite{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
</style>
