<template>
  <section>
    <h2 class="headline font-weight-bold text--color cool-underline">
      {{ subcontenido.title }}
    </h2>
    <p v-html="subcontenido.text" class="text-justify text--color" />
  </section>
</template>

<script>
export default {
  props: {
    subcontenido: {
      type: Object,
      default () {
        return {}
      }
    }
  }
}
</script>

<style>

</style>
