<template>
  <v-row>
    <v-col cols="12" class="px-12">
      <LogoTexto :nicho="home.nombre" />
      <h1 class="text-center mt-5">
        AVISO LEGAL
      </h1>

      <h2>1. CONTACTO CON EL RESPONSABLE DEL SITIO WEB.</h2>
      <p>Puedes contactarnos remitiéndonos un correo electrónico a <a :href="'mailto:'+mail"> {{ mail }}</a>.</p>

      <h2>2. Objeto</h2>
      <p>El presente <b>AVISO LEGAL</b> regula los derechos y obligaciones de <b>{{ dominio | capitalize }}</b> (en adelante ‘esta web’) y de los usuarios, en relación al acceso, navegación y utilización de la presente web sin perjuicio de que <b>esta web</b> se reserve el derecho a modificar, sin previo aviso, su contenido, siendo vigentes las que se encuentren publicadas en el momento de navegación.</p>
      <p>Mediante la navegación, visualización y uso de esta web adquieres la condición de usuario, y por tanto implica por tu parte la aceptación expresa de todas las cláusulas que indicamos en el presente Aviso Legal, así como el resto de advertencias o cláusulas específicas que se establezcan en las diferentes secciones para la contratación, uso de servicios, productos, inscripciones, o secciones de la Página.</p>
      <p>Por lo que en caso de no aceptar las cláusulas establecidas en el presente Aviso Legal, deberás abstenerte de acceder y/o utilizar los servicios y/o contenidos puestos a tu disposición en la Página, procediendo a abandonar la misma.</p>
      <p><b>esta web</b> podrá dar por terminado, suspender o interrumpir, en cualquier momento sin necesidad de previo aviso, el acceso a los contenidos de la página, sin posibilidad por parte del Usuario de exigir indemnización alguna.</p>

      <h2>3. ACCESO AL SITIO WEB</h2>
      <p>Como usuario de nuestra web te obligas a no utilizar la Página para la realización de actividades contrarias a las leyes, a la moral, al orden p úblico y, en general, a hacer un uso conforme a las condiciones establecidas en el presente Aviso Legal. Asimismo, te obliga a no realizar actividades publicitarias o de explotación comercial remitiendo mensajes que utilicen una identidad falsa.</p>
      <p><b>esta web</b> actúa exclusivamente como responsable de la Página en su condición de prestador de un servicio de información y contenidos, bien sobre sus propios servicios, o bien sobre servicios de terceros con los que ha suscrito acuerdos, no haciéndose responsable de los contenidos que, en contra de las presentes condiciones, los usuarios pudieran enviar o publicar, siendo el usuario el único responsable de la veracidad y licitud de los mismos.</p>
      <p><b>esta web</b> podrá interrumpir el servicio de la Página que esté siendo utilizado por el usuario y resolver de modo inmediato la relación con el usuario si detecta un uso de la Página o de cualquiera de los servicios que en el mismo se ofertan que pueda considerar contrario a lo expresado en el presente Aviso Legal</p>
      <p>El contenido de los servicios ofrecidos y su uso <b>quedan limitados a usuarios mayores de 18 años</b>. esta web recuerda a los usuarios mayores de edad, que tengan a su cargo menores, que será de su exclusiva responsabilidad determinar qué servicios y/o contenidos son no apropiados para la edad de estos últimos. En caso de que tenga lugar el acceso y registro por parte de un menor, se presumirá que dicho acceso se ha realizado con autorización previa y expresa de sus padres, tutores o representantes legales, <b>esta web</b> se reserva el derecho a realizar cuantas verificaciones y comprobaciones considere oportunas a este respecto.</p>
      <p><b>esta web</b> te informa de que existen programas informáticos que permiten filtrar y bloquear el acceso a determinados contenidos y servicios, de tal forma que los padres o tutores, por ejemplo, pueden decidir cuáles son los contenidos y servicios de Internet a los que los menores pueden tener acceso y cuáles no.</p>
      <p>En ningún caso <b>esta web</b> se responsabilizará de la veracidad de los datos facilitados por los usuarios, por lo que cada uno de éstos será el único responsable de que la información facilitada a esta web resulte adecuada, exacta, actualizada y precisa o, en caso contrario, de las posibles consecuencias que pudieran derivarse de la falta de calidad y veracidad de los datos.</p>

      <h2>4. PROPIEDAD INTELECTUAL E INDUSTRIAL</h2>
      <p><b>esta web</b> no garantiza que los contenidos sean precisos o libres de error o que el libre uso de los mismos por el usuario no infrinja los derechos de terceras partes. El buen o mal uso de esta página y de sus contenidos está bajo la responsabilidad del usuario.</p>
      <p>Asimismo, queda prohibida la reproducción, retransmisión, copia, cesión o redifusión, total o parcial, de la información contenida en la Página, cualquiera que fuera su finalidad y el medio utilizado para ello, sin autorización previa de <b>esta web</b></p>

      <h2>5. ENLACES O LINKS</h2>
      <p>Al igual que indicábamos anteriormente nuestra página, además de los enlaces sobre productos, puede incluir enlaces o links a sitios de terceros. Reiteramos que las páginas pertenecientes a estos terceros no han sido revisadas ni son objeto de controles por parte de <b>esta web</b>, por lo que <b>esta web</b> no podrá ser considerada responsable de los contenidos de estos sitios web, ni de las medidas que se adopten relativas a su privacidad o al tratamiento de sus datos de carácter personal u otros que pudieran derivarse.</p>
      <p><b>esta web</b> recomienda la lectura detenida de las condiciones de uso, política de privacidad, avisos legales y/o similares de estos sitios.</p>
      <p>En caso de estar interesado en activar un enlace a alguna de las páginas de <b>esta web</b> deberá comunicarlo, obteniendo el consentimiento expreso para crear el enlace. <b>esta web</b> se reserva el derecho de oposición a la activación de enlaces con su sitio web.</p>

      <h2>6. LIMITACIÓN DE RESPONSABILIDAD</h2>
      <p><b>esta web no será responsable directa ni subsidiariamente de:</b></p>
      <p>La calidad del servicio, la velocidad de acceso, el correcto funcionamiento ni la disponibilidad ni continuidad de funcionamiento de la Página.</p>
      <p>Los daños que puedan causarse en los equipos del usuario por la utilización de la Página.</p>
      <p>Los casos en que un tercero, quebrantando las medidas de seguridad establecidas, acceda a los mensajes o los utilice para la remisión de virus informáticos.</p>
      <p>Los vicios y defectos de toda clase de los contenidos transmitidos, difundidos, almacenados o puestos a disposición.</p>
      <p>La licitud, fiabilidad y utilidad de los contenidos que los usuarios transmitan con la utilización de la página o de los servicios en ella ofertados, así como tampoco su veracidad o exactitud. <b>esta web</b> no controla la utilización que los usuarios hacen de la Página, ni garantiza que lo hagan conforme a lo establecido en el presente Aviso Legal.</p>
      <p><b>A título enunciativo y con carácter no limitativo, el usuario será responsable de:</b></p>
      <p>De los contenidos introducidos por ellos, especialmente de los datos e informaciones introducidos y enviados a la Compañía por medio de la Página o en la Página.</p>
      <p>De la realización de cualquier tipo de actuación en las páginas de terceros, o actuaciones ilícitas, lesivas de derechos, nocivas y/o perjudiciales.</p>
      <p>El incumplimiento de cualquiera de las anteriores obligaciones por parte del usuario podrá llevar aparejada la adopción de las medidas oportunas amparadas en Derecho y en el ejercicio de sus derechos u obligaciones, por parte de <b>esta web</b> pudiendo llegar a la eliminación o bloqueo de la cuenta del usuario infractor, sin que medie posibilidad de indemnización alguna por los daños y perjuicios causados.</p>

      <h2>7. POLÍTICA DE PRIVACIDAD Y PROTECCIóN DE DATOS</h2>
      <p><b>esta web</b> no recopila directamente ningún dato de los usuarios, cualquier información de los usuarios será obtenida por parte de terceros (en su caso Google Analitics, Adsense, Awin, Amazon u otras herramientas), por lo que el cumplimiento de la ley de protección de datos debe ser considerada por parte de estos terceros. En ningún caso se utilizará cualquier información referiada a datos personales o estadísticos con fines comerciales.</p>

      <h2>8. POLÍTICA DE COOKIES</h2>
      <p>De conformidad con lo dispuesto en la legislación vigente sobre el uso de cookies, el uso estas será tratado de conformidad con lo dispuesto en el apartado denominado Política de Cookies existente en la presente y, que todo usuario debe leer, aceptar y/o limitar durante la navegación, seg ún informa con carácter expreso el banner sobre cookies de nuestra web y la información adicional que se muestran sobre el uso de cookies en la misma. Pudiendo limitar el usuario la descarga de COOKIES desde las opciones del navegador.</p>

      <h2>9. LEGISLACIÓN APLICABLE Y JURISDICCIÓN COMPETENTE.</h2>
      <p>El presente Aviso Legal se encuentra redactado en castellano, y se encuentra sometido a la legislación española vigente, que será de aplicación en lo no dispuesto en el presente en materia de interpretación, validez y ejecución. <b>esta web</b> y el Usuario, con renuncia expresa a cualquier otro fuero, se someten a los Juzgados y Tribunales del domicilio del Usuario para cualquier controversia que pudiera derivarse. En el caso de que el Usuario tenga su domicilio fuera de España, <b>esta web</b> y el Usuario se someten, con renuncia expresa a cualquier otro fuero, a los juzgados y tribunales de Alicante, España.</p>

      <h2>10. Términos de uso</h2>
      <ol>
        <li>Si navega por esta web acepta tácitamente los términos de uso y los términos de privacidad, así como declara haber leido el aviso legal.</li>
        <li>Ni esta web ni sus representantes legales se hacen responsables ni del contenido ni de la veracidad de las políticas de privacidad que puedan tener servicios terceros ajenos a esta web.</li>
        <li>Queda expresamente prohibida la copia o transcripción completa o parcial de cualquier texto de esta web para cualquier uso. Los textos de esta web están hechos sólo para ser leidos, absténganse de usarlos para cualquier otro fin.</li>
        <li>Queda expresamente prohibida la copia o descarga de las imágenes de la home de esta web.</li>
        <li>No está permitido el hotlinking de las imágenes de la home de esta web.</li>
        <li>Sí está permitido copiar y utilizar las estructuras HTML y estilos CSS utilizados en esta web, siempre que sea de forma parcial y nunca la totalidad del formato generando una web idéntica a esta misma.</li>
      </ol>
      <p>En el caso de inclumplimiento de estas condiciones, nos podemos ver obligados a tomar las medidas legales oportunas.</p>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'
import LogoTexto from '@/components/LogoTexto.vue'

export default {
  components: {
    LogoTexto
  },
  data () {
    return {
      mail: process.env.mail_json,
      dominio: process.env.dominio_json.slice(8)
    }
  },
  computed: {
    ...mapGetters([
      'home'
    ])
  }

}
</script>

<style>

</style>
