<template>
  <v-row>
    <v-col cols="12" class="px-12">
      <LogoTexto :nicho="home.nombre" />
      <h1 class="text-center mt-5">
        CONTACTO
      </h1>

      <p>Puedes contactarnos remitiéndonos un correo electrónico a <a :href="'mailto:'+mail"> {{ mail }}</a>.</p>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'
import LogoTexto from '@/components/LogoTexto.vue'

export default {
  components: {
    LogoTexto
  },
  data () {
    return {
      mail: process.env.mail_json
    }
  },
  computed: {
    ...mapGetters([
      'home'
    ])
  }
}
</script>

<style>

</style>
