<template>
  <v-container>
    <v-row dense align="center" justify="center">
      <v-col cols="12">
        <LogoTexto :nicho="home.nombre" />
        <CarouselAfiliados :afiliados="home.afiliados" />
      </v-col>
      <v-col cols="12">
        <HeadingCard :title="home.main_title ? home.main_title : ''" :text="home.main_text ? home.main_text : ''" :heading1="true" />
      </v-col>
      <v-col
        v-for="item in home.categorias.filter(c => c.top).sort(
          function(first, second) {return second.volumen - first.volumen;}
        )"
        :key="item.slug"
        xs="12"
        sm="12"
        md="12"
        lg="6"
        xl="6"
      >
        <CategoryCard :item="item" />
      </v-col>
      <v-col cols="12">
        <HeadingCard :title="home.textos_seo[0] ? home.textos_seo[0].title : ''" :text="home.textos_seo[0] ? home.textos_seo[0].text : ''" :heading1="false" />
      </v-col>
      <v-col
        v-for="item in home.categorias.filter(c => !c.top).sort(
          function(first, second) {return second.volumen - first.volumen;}
        )"
        :key="item.slug"
        xs="12"
        sm="12"
        md="12"
        lg="6"
        xl="4"
      >
        <CategoryCard :item="item" />
      </v-col>
      <v-col v-for="(subcontenido,i) in home.textos_seo.slice(1,)" :key="i" cols="12">
        <TextoSeo :subcontenido="subcontenido" />
      </v-col>
      <Rating :estrellas="home.estrellas" :valoraciones="home.valoraciones" :cookieName="nicho" />
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import CategoryCard from '@/components/CategoryCard.vue'
import TextoSeo from '@/components/TextoSeo.vue'
import LogoTexto from '@/components/LogoTexto.vue'
import CarouselAfiliados from '@/components/CarouselAfiliados.vue'
import HeadingCard from '@/components/HeadingCard.vue'
import Rating from '@/components/Rating/Home.vue'

export default {
  components: {
    CategoryCard,
    TextoSeo,
    LogoTexto,
    CarouselAfiliados,
    HeadingCard,
    Rating
  },
  data () {
    return {
      viewMoreH1: false,
      viewMoreH2: false,
      nicho: process.env.nicho_json
    }
  },
  jsonld () {
    return {
      '@context': 'http://schema.org',
      '@type': 'Organization',
      'url': process.env.dominio_json + '/',
      'name': process.env.dominio_json.slice(8),
      'logo': process.env.dominio_json + '/icon.png',
      'description': this.$store.getters.home.meta_description,
      'aggregateRating': {
        '@type': 'AggregateRating',
        'ratingValue': this.$store.getters.home.estrellas,
        'bestRating': '5',
        'ratingCount': this.$store.getters.home.valoraciones
      }
    }
  },
  computed: {
    ...mapGetters([
      'home'
    ])
  },
  head () {
    return {
      title: this.home.meta_title,
      meta: [
        { hid: 'description', name: 'description', content: this.home.meta_description }
      ],
      link: [
        { rel: 'canonical', href: process.env.DOMINIO + '/' }
      ]
    }
  }
}
</script>

<style>
.text--color{
  color: #3c4859 !important;
  caret-color: #3c4859 !important;
}
.text--color-rgba{
  color: rgba(60,72,89,0.8) !important;
  caret-color: rgba(60,72,89,0.8) !important;
}
.text--color-contrast{
  color: #FFF3E8 !important;
  caret-color: #FFF3E8 !important;
}
.text--color-contrast-light{
  color: rgba(255,243,232,0.4) !important;
  caret-color: rgba(255,243,232,0.4) !important;
}
.v-slide-group__prev {
  display: none !important;
}
.cool-underline{
  position: relative;
}
.cool-underline::before{
  content: ' ';
  position: absolute;
  width: 7em;
  background: rgba(0, 191, 255, 0.3);
  height: .5em;
  top: 1.2rem;
}
.v-btn.noActionBtn::before{
  background: transparent !important;
}
</style>
