<template>
  <v-row>
    <v-col cols="12" class="px-12">
      <LogoTexto :nicho="home.nombre" />
      <h1 class="text-center mt-5">
        Política de Privacidad y Cookies
      </h1>
      <p><b>IMPORTANTE: Puedes eliminar toda la información que creas pertinente de los servidores de Google a través de la web: https://myactivity.google.com/myactivity</b></p>
      <p>En <b>cumplimiento con el nuevo Reglamento General de Protección de Datos</b> (RGPD) en vigor desde el 25 de mayo de 2018 y con lo dispuesto en el artículo 22.2 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, <b>{{ dominio | capitalize }}</b> (en adelante <b>‘esta web’</b>) informa, en esta sección, de la política de privacidad y tratamiento de los datos recogidos.</p>
      <p>Al entrar en esta web ya has sido informado sobre la utilización de las cookies a través de un aviso o alerta. Si has hecho clic en aceptar o has seguido navegando, has aceptado la instalación de estas cookies.</p>

      <h2>¿QUÉ SON LAS COOKIES?</h2>
      <p>Una cookie es un fichero que se descarga en tu ordenador o equipo al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación del usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice tu equipo, pueden utilizarse para reconocer al usuario.</p>

      <h2>¿QUé TIPOS DE COOKIES UTILIZA ESTA PÁGINA WEB?</h2>
      <p>Siguiendo las directrices de la Agencia Española de Protección de Datos procedemos a detallar el uso de cookies que hace esta web con el fin de informarle con la máxima exactitud posible.</p>
      <p><b>esta web</b> utiliza los siguientes tipos de cookies:</p>

      <h3>Cookies propias:</h3>
      <p>Cookies de sesión, para garantizar que los usuarios que escriban comentarios en el blog sean humanos y no aplicaciones automatizadas. De esta forma se combate el spam.</p>

      <h3>Cookies de terceros:</h3>
      <p><b>Cookies de análisis</b>: Son recabadas únicamente por terceros (google Analytics), nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado. Para ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que te ofrecemos.</p>
      <p><b>Cookies de personalización (servicio pendiente de implementar)</b>: Son aquellas que permiten al Usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma o el tipo de navegador a través del cual se conecta al servicio.</p>
      <p><b>Cookies publicitarias:</b> Utilizamos Google Adsense, un servicio que analizando este tipo de cookies, permite gestionar de la forma más eficaz posible la oferta de los espacios publicitarios que hay en la página web, adecuando el contenido del anuncio al contenido del servicio solicitado o al uso que realices de nuestra página web. Para ello podemos analizar tus hábitos de navegación en Internet y podemos mostrarte publicidad relacionada con tu perfil de navegación.</p>
      <p><b>Cookies de afiliación:</b> Estas cookies las adquieres cuando clicas en uno de nuestros productos externalizados. De esta forma nuestras empresas afiliadas sabe que está vendiendo un producto desde nuestra página y nos da una comisión. No te preocupes, los precios de las tiendas afiliadas no se ven alterados por haber llegado desde nuestra página o directamente, el precio que tú pagas es el mismo.</p>

      <h2>Desactivación o eliminación de cookies</h2>
      <p>En cualquier momento podrá ejercer su derecho de desactivación o eliminación de cookies de este sitio web. Estas acciones se realizan de forma diferente en función del navegador que esté usando.</p>

      <h2>esta web NO recoje información de los usuarios</h2>
      <p>En esta web no recogemos información de los usuarios, toda la posible información es tratada por servicios de terceros mediante cookies (veáse política de cookies).</p>
      <p>En <b>cumplimiento con el nuevo Reglamento General de Protección de Datos</b> (RGPD) en vigor desde el 25 de mayo de 2018 y con lo dispuesto en el artículo 22.2 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, esta web informa, en esta sección, de la política de privacidad y tratamiento de los datos recogidos.</p>
      <p>La única forma de que en esta web se reciba información del usuario es por medio del envío, por parte de este mismo usuario, de una comunicación vía mail a nuestra dirección de contacto.</p>
      <p>En ningún supuesto esta web pretende recabar información de los usuarios de esta web.</p>

      <h2>Notas adicionales</h2>
      <ul>
        <li>Ni esta web ni sus representantes legales se hacen responsables ni del contenido ni de la veracidad de las políticas de privacidad que puedan tener los terceros mencionados en esta política de cookies.</li>
        <li>os navegadores web son las herramientas encargadas de almacenar las cookies y desde este lugar debe efectuar su derecho a eliminación o desactivación de las mismas. Ni esta web ni sus representantes legales pueden garantizar la correcta o incorrecta manipulación de las cookies por parte de los mencionados navegadores.</li>
        <li>En algunos casos es necesario instalar cookies para que el navegador no olvide su decisión de no aceptación de las mismas.</li>
        <li>En el caso de las cookies de Google Analytics, esta empresa almacena las cookies en servidores ubicados en Estados Unidos y se compromete a no compartirla con terceros, excepto en los casos en los que sea necesario para el funcionamiento del sistema o cuando la ley obligue a tal efecto. Según Google no guarda su dirección IP. Google Inc. es una compañía adherida al Acuerdo de Puerto Seguro que garantiza que todos los datos transferidos serán tratados con un nivel de protección acorde a la normativa europea.</li>
      </ul>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex'
import LogoTexto from '@/components/LogoTexto.vue'

export default {
  components: {
    LogoTexto
  },
  data () {
    return {
      dominio: process.env.dominio_json.slice(8)
    }
  },
  computed: {
    ...mapGetters([
      'home'
    ])
  }

}
</script>

<style>

</style>
