<template>
  <v-col cols="12">
    <div :class="$breakpoint.is.xsOnly ? 'd-flex flex-column align-left' : 'd-flex flex-row align-center'">
      <v-rating
        v-model="rating"
        :readonly="cookieValue !== undefined"
        :empty-icon="emptyStar"
        :full-icon="fullStar"
        :half-icon="halfStar"
        color="yellow darken-3"
        background-color="grey darken-1"
        size="30"
        half-increments
        dense
        hover
        value="1"
      />
      <span :class="$breakpoint.is.xsOnly ? 'ml-2 mt-n2 mb-2': 'mt-1'">
        [Votos:&nbsp;  <b>{{ valoraciones }}</b> &nbsp;&nbsp;&nbsp;Promedio:&nbsp;  <b> {{ (Math.round(estrellas * 2) / 2).toFixed(1) }}&nbsp;/&nbsp;5</b> ]
      </span>
    </div>
    <div class="ml-2 mt-n2">
      <span class="font-weight-bold caption">
        {{ cookieValue !== undefined ? 'Ya has votado está página con ' + cookieValue : 'Votanos!' }}
      </span>
    </div>
  </v-col>
</template>

<script>
import { mdiStar, mdiStarHalf, mdiStarOutline } from '@mdi/js'

export default {
  props: {
    valoraciones: {
      type: Number,
      default () {
        return 0
      }
    },
    estrellas: {
      type: Number,
      default () {
        return 0
      }
    },
    cookieName: {
      type: String,
      default () {
        return null
      }
    }
  },
  data () {
    return {
      rating: parseFloat((Math.round(this.estrellas * 2) / 2).toFixed(1)),
      modificable: true,
      cookieValue: this.$cookies.get(this.cookieName),
      fullStar: mdiStar,
      halfStar: mdiStarHalf,
      emptyStar: mdiStarOutline
    }
  },
  watch: {
    async rating (newRating, oldRating) {
      if (oldRating !== undefined && this.modificable) {
        // console.log(this.$axios.put)
        await this.$axios.put('api/categorias/',
          {
            'slug': this.cookieName,
            'estrellas': newRating
          }).then((response) => {
          this.modificable = false
          this.valoraciones = response.data.valoraciones
          this.estrellas = parseFloat((Math.round(response.data.estrellas * 2) / 2).toFixed(1))
          this.rating = parseFloat((Math.round(response.data.estrellas * 2) / 2).toFixed(1))
        })
        this.$cookies.set(this.cookieName, newRating, {
          path: '/',
          maxAge: process.env.cookieAge
        })
        this.cookieValue = newRating
      }
    }
  }
}
</script>

<style>

</style>
